/* xl  */
@media(max-width:1399px){
    .container{
        max-width: 1140px;
    }
}

/* lg  */
@media(max-width:1199px){
    .container{
        max-width: 960px;
    }
}

/* md  */
@media(max-width:991px){
    .container{
        max-width: 720px;
    }
    .col-md-6{
        width: 50%;
    }
}

/* sm  */
@media(max-width:767px){
    .container{
        max-width: 540px;
    }
}

/* xs  */
@media(max-width:575px){
    .container{
        max-width: 100%;
    }

    .col-xs-12{
        width: 100%;
    }
}
