*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

img{
    width: 100%;
    display: block;
}

ul li{
    list-style: none;
}

.btn{
    background: darkcyan;
    padding: 10px 20px;
    border-radius: 10px;   
}

p{
    /* padding: 20px; */
}