@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#text{
    font-family: 'Roboto';
}

ul li{
    list-style: none;
}

ul li::before{
    content: '\f061';
    font-family: 'FontAwesome';
    margin-right: 10px;
}