*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    padding: 20px 0;
}

.img1{
    float: left;
    margin-right: 20px;
}

p{
    text-align: justify;
    padding: 20px 0;
}

.clear-both{
    clear: both;
}

.img2{
    float: right;
    margin-left: 20px;
}

h2{
    text-align: center;
}