*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background: tan;
    height: 400px;
    display: flex;
}

.box{
    width: 70px;
    height: 70px;
    background: teal;
    border: 2px solid black;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row{
    flex-direction: row;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}

.flex-nowrap{
    flex-wrap: nowrap;
}
.flex-wrap{
    flex-wrap: wrap;
}